/*=======================BODY=============================*/
body{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100vh;
    background-color: rgb(38, 38, 179);
}

/*========================HEADER============================*/


/*========================MEIO-CARD============================*/
.card{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 40%;
    width: 60%;
    border-radius: 10px;
    background-color: white;
}

.imgfoto{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 50%;
    width: 40%;
}
/*========================FOOTER============================*/